* {
  box-sizing: border-box;
  font-family: sans-serif, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  background-color: #e6c14e;
}

section {
  padding: 25px 0;
  max-width: 900px;
  margin: auto;
}

.container-filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button--filter {
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 50%;
  outline: none;
  border: none;
  transition: all 200ms ease;
  padding: 15px;
}

.app-container {
  padding: 25px 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: 551px) {
  .grid::after {
    width: calc(33.33%);
  }
}

@media (min-width: 801px) {
  .grid::after {
    width: calc(25%);
  }
}

.card {
  background-color: #222;
  width: 50%;
  border: 2px solid #eee;
  color: #eee;
  transition: transform 0.4s ease;
  display: flex;
  flex-direction: column;
  min-height: 200px;
}

@media (min-width: 551px) {
  .card {
    width: calc(33.33%);
  }
}

@media (min-width: 801px) {
  .card {
    width: calc(25%);
  }
}

.activity-container {
  padding: 10px 0 20px;
  min-height: 189px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activity-name {
  padding: 10px;
}

.card-buttons {
  display: flex;
  justify-content: space-around;
}

.card-buttons svg,
.modal-content svg {
  color: #900c3f;
  filter: drop-shadow(1px 1px 0px #8f1dee);
}

.card-buttons svg:hover {
  cursor: pointer;
  filter: drop-shadow(1px 1px 1px #ccc);
  transition: 0.2s;
}

.tag {
  display: flex;
  padding: 2.5px 5px;
  max-width: 100px;
  border-bottom-right-radius: 5px;
  text-transform: uppercase;
  justify-content: center;
  font-size: 14px;
}

.tag-explore {
  background-color: #399;
}

.tag-shop {
  background-color: #511845;
}

.tag-drink {
  background-color: #900c3f;
}

.tag-eat {
  background-color: #342ead;
}

.tag-see {
  background-color: #de7119;
}

.tag-coffee {
  background-color: #5a3111;
}

.modal {
  display: flex;
  flex-direction: column;
  color: #099;
  position: fixed;
  z-index: 500;
  background-color: #fff;
  width: 70%;
  min-height: 300px;
  border-radius: 5px;
  padding: 10px;
  left: 15%;
  top: 30%;
  box-shadow: 2px 2px 8px 1px #222;
  transition: all 0.2s ease-out;
}

.modal hr {
  margin: 20px auto;
  height: 1px;
  width: 100%;
  background-color: #ccc;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px 30px;
}

.modal-content p {
  padding: 10px 0;
}

.modal-details {
  display: flex;
}

.modal-details img {
  max-width: 250px;
}

.modal-details p {
  padding-left: 30px;
}

.modal button {
  text-align: right;
  background-color: transparent;
  border: none;
  outline: none;
}

.modal button:hover {
  cursor: pointer;
  filter: invert(25%);
  transition: all 0.2s;
}
