* {
  box-sizing: border-box;
  font-family: sans-serif, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

section {
  padding: 25px 0;
  max-width: 900px;
  margin: auto;
}

.container-filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button--filter {
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 50%;
  outline: none;
  border: none;
  transition: all 200ms ease;
  padding: 15px;
}

.app-container {
  padding: 25px 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  width: 100%;
  margin: 0 auto;
  padding: 0;
  border: 5px dashed red;
}

@media (min-width: 551px) {
  .grid::after {
    width: calc(33.33%);
  }
}

@media (min-width: 801px) {
  .grid::after {
    width: calc(25%);
  }
}

.card {
  background-color: #222;
  /* padding: 10px 5px; */
  width: 50%;
  border: 2px solid #eee;
  color: #eee;
  transition: transform 0.4s ease;
}

@media (min-width: 551px) {
  .card {
    width: calc(33.33%);
  }
}

@media (min-width: 801px) {
  .card {
    width: calc(25%);
  }
}

.card-container {
  display: flex;
  flex-direction: column;
}

.activity-container {
  display: flex;
  flex-direction: column;
}

.tag-container {
  display: flex;
}

.tag-container .tag {
  padding: 2.5px;
  width: 100px;
  background-color: #399;
  text-transform: uppercase;
}
